# --- JAVA ---
*.class
*.jar
*.war
*.ear
target/
.gradle/
build/

# --- PYTHON ---
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/
.env

# --- EDITORES (VS Code, IntelliJ) ---
.vscode/
.idea/
*.iws
*.iml
*.ipr

# --- SISTEMA ---
.DS_Store
Thumbs.db
desktop.ini
